@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --clr-main: #1976D2;
  --clr-main-light: #2196F3;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 10fr;
  background-color: var(--clr-main);
  height: 100vh;
}


.header{
  color: var(--clr-gray);
  display:flex;  
  justify-content:space-around;    
  align-items:  center;
}

.menu{
  display: flex;
  flex-direction: row;  
}

.boton{
  color: var(--clr-gray);
  text-transform: uppercase;  
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;     
  font-size: .85rem;
  padding-inline: 1rem;
  width: 100%;
  border: 0;
  border-radius: 5px;  
}

.active{
  background-color: var(--clr-gray);
  color: var(--clr-main-light);
}

.boton-carrito{
  color: var(--clr-main-light);
  background-color: var(--clr-white);
  margin-left: 4rem;
  padding: .25rem;
  border-radius: .25rem;
}

.boton-carrito:hover{
  color: var(--clr-main-light);
  background-color: var(--clr-white);
}

.main{
  background-color: var(--clr-white);
  margin: .5rem;
  border-radius: 1rem;
}

.titulo{
  color: var(--clr-main);
  height: 3rem;
  margin: 2rem;
}